// column
$grid-column: 12;


// font
$primary-font:'Open Sans', "Arial", sans-serif;

// color
$gray-light: #a7acb4;
$gray-dark: #282f3a;
$blue-color: #4944f2;
$white: #ffffff;


//padding column
$padding-column: 4px;

// breakpoints 


