@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #a7acb4;
  margin: 0 auto;
}

a {
  text-emphasis: none;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  outline: none;
  border: 0;
}

input {
  line-height: normal;
}

@use "sass:math";
.container-fluid {
  width: 100%;
  display: block;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.g-0 {
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  .m-0 {
    display: none;
  }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }
  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .m-o-1 {
    margin-left: 8.33333%;
  }
  .m-o-2 {
    margin-left: 16.66667%;
  }
  .m-o-3 {
    margin-left: 25%;
  }
  .m-o-4 {
    margin-left: 33.33333%;
  }
  .m-o-5 {
    margin-left: 41.66667%;
  }
  .m-o-6 {
    margin-left: 50%;
  }
  .m-o-7 {
    margin-left: 58.33333%;
  }
  .m-o-8 {
    margin-left: 66.66667%;
  }
  .m-o-9 {
    margin-left: 75%;
  }
  .m-o-10 {
    margin-left: 83.33333%;
  }
  .m-o-11 {
    margin-left: 91.66667%;
  }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .l-0 {
    display: none;
  }
  /* l-1-5 là 8 cái trên row */
  .l-1,
  .l-1-5,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }
  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-1-5 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .l-o-1 {
    margin-left: 8.33333%;
  }
  .l-o-2 {
    margin-left: 16.66667%;
  }
  .l-o-3 {
    margin-left: 25%;
  }
  .l-o-4 {
    margin-left: 33.33333%;
  }
  .l-o-5 {
    margin-left: 41.66667%;
  }
  .l-o-6 {
    margin-left: 50%;
  }
  .l-o-7 {
    margin-left: 58.33333%;
  }
  .l-o-8 {
    margin-left: 66.66667%;
  }
  .l-o-9 {
    margin-left: 75%;
  }
  .l-o-10 {
    margin-left: 83.33333%;
  }
  .l-o-11 {
    margin-left: 91.66667%;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }
  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .wide .l-0 {
    display: none;
  }
  .wide .l-1,
  .wide .l-1-5,
  .wide .l-2,
  .wide .l-2-4,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block;
  }
  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .wide .l-1-5 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .wide .l-o-1 {
    margin-left: 8.33333%;
  }
  .wide .l-o-2 {
    margin-left: 16.66667%;
  }
  .wide .l-o-3 {
    margin-left: 25%;
  }
  .wide .l-o-4 {
    margin-left: 33.33333%;
  }
  .wide .l-o-5 {
    margin-left: 41.66667%;
  }
  .wide .l-o-6 {
    margin-left: 50%;
  }
  .wide .l-o-7 {
    margin-left: 58.33333%;
  }
  .wide .l-o-8 {
    margin-left: 66.66667%;
  }
  .wide .l-o-9 {
    margin-left: 75%;
  }
  .wide .l-o-10 {
    margin-left: 83.33333%;
  }
  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}

.header {
  color: white;
  background-image: linear-gradient(to bottom right, #8940e9, #c240e9);
}

.header_top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header_top_logo a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.header_top_logo a:hover {
  opacity: 0.6;
  position: relative;
}

.header_top_logo a:hover::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  margin-top: 10px;
  border: 1px solid white;
  transition: width 5s;
  animation-name: centertoside;
  animation-duration: 1s;
}

@keyframes centertoside {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.header_top_search {
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.header_top_search-input {
  padding: 8px 0 8px 16px;
  width: 360px;
  border-radius: 12px;
  font-size: 16px;
}

.header_top_search-btn {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  position: absolute;
  right: 0;
  line-height: 38px;
  cursor: pointer;
  background-color: #a7acb4;
  color: #ffffff;
  font-weight: 500;
}

.header_top_search-btn:hover {
  background-color: rgba(167, 172, 180, 0.6);
  color: #282f3a;
}

.header_top_auth-link {
  color: #ffffff;
  text-decoration: none;
}

.header_top_auth-link:hover {
  opacity: 0.6;
}

.header_top_auth span {
  margin: 0 8px;
}

.header_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.header_bottom .category {
  display: flex;
}

.header_bottom .category_item {
  display: block;
  margin-left: 30px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.header_bottom .category_item:first-child {
  margin-left: 0;
}

.header_bottom .category_item:hover {
  opacity: 0.6;
  position: relative;
}

.header_bottom .category_item:hover::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  margin-top: 10px;
  border: 1px solid white;
  transition: width 5s;
  animation-name: centertoside;
  animation-duration: 1s;
}

@keyframes centertoside {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.footer {
  color: white;
  background-image: linear-gradient(to bottom right, #8940e9, #c240e9);
  margin: 0 auto;
  padding-top: 20px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer_logo a {
  text-decoration: none;
  color: #ffffff;
}

.footer_category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_category h4 {
  padding-bottom: 10px;
}

.footer_category-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer_category-item {
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin: 10px 0;
}

.footer_category-item:hover {
  text-decoration: underline;
}

.footer_assitance {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_assitance h4 {
  padding-bottom: 10px;
}

.footer_assitance-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer_assitance-item {
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin: 10px 0;
}

.footer_assitance-item:hover {
  text-decoration: underline;
}

.footer_infor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_infor h4 {
  padding-bottom: 10px;
}

.footer_infor-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer_infor-item {
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin: 10px 0;
}

.footer_infor-item:hover {
  text-decoration: underline;
}

.login {
  background-color: gray;
  text-align: center;
  background-color: #743ad5;
}

.login_title {
  color: #ffffff;
  margin-bottom: 10px;
}

.login_input {
  margin: 4px 0;
  padding: 10px;
  outline: none;
  border: 4px solid white;
  border-width: 4px;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 10px;
}

.login_input:focus {
  border-color: greenyellow;
}

.login_form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.login_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login_wrapper .btn_login {
  color: white;
  background-image: linear-gradient(to bottom right, #8940e9, #c240e9);
}

.login_wrapper .btn_cancel {
  text-decoration: none;
  color: white;
}

.login_btn {
  margin-top: 10px;
  padding: 8px 16px;
  font-weight: 600;
  background: none;
  border-radius: 10px;
  border: 4px solid #b3b1b1;
}

.login_desc {
  margin: 20px 0;
  color: white;
}

.login_desc a {
  color: black;
}

.auth {
  width: 100%;
  height: 100%;
  background-image: url("https://wallpaperaccess.com/full/1140269.jpg");
  background-repeat: no-repeat;
  object-fit: fill;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.auth_wrapper {
  border: 4px solid white;
  border-radius: 10px;
  padding: 10px;
  background-color: #743ad5;
}

.main {
  color: black;
  background-color: #a7a7a7;
}

.slider {
  padding: 40px 0;
}

.slider .slick-slider .slick-list {
  margin-left: -8px;
  margin-right: -8px;
}

.slider .slick-slider .slick-list .slick-slide {
  padding-left: 8px;
  padding-right: 8px;
}

.block {
  display: block;
}

.block-title {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin-bottom: 20px;
}

.block-title h2 {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #8f2cff, #ff00ff);
}

.block-title a {
  text-decoration: none;
  color: black;
  padding: 8px 8px;
  border-radius: 4px;
  background-color: #ffffff;
}

.block-title a:hover {
  text-decoration: underline;
}

.block .list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  list-style-type: none;
  position: relative;
  padding-left: 0;
  padding-bottom: 20px;
}

.block .item {
  position: relative;
}

.block .item img {
  width: 100%;
  object-fit: fill;
  height: 190px;
  border-radius: 10px;
}

.block .item span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  border-radius: 4px;
  background-image: linear-gradient(to right, #8f2cff, #ff00ff);
  color: #ffffff;
  font-size: 12px;
}

.block .item span::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  background-image: linear-gradient(to right, #8f2cff, #ff00ff);
  border-top: 10px solid #cb3be9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120%);
}

.block .item p {
  position: absolute;
  width: 100%;
  background-color: rgba(20, 17, 17, 0.8);
  bottom: 0;
  padding: 10px 0 10px 20px;
  color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.block .item:first-child {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.block .item:first-child img {
  height: 390px;
}
/*# sourceMappingURL=app.css.map */