@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #a7acb4;
  margin: 0 auto;
}

a {
  text-emphasis: none;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  outline: none;
  border: 0;
}

input {
  line-height: normal;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.color-white {
  color: white;
}

@use "sass:math";
.container-fluid {
  width: 100%;
  display: block;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.g-0 {
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  .m-0 {
    display: none;
  }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }
  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .m-o-1 {
    margin-left: 8.33333%;
  }
  .m-o-2 {
    margin-left: 16.66667%;
  }
  .m-o-3 {
    margin-left: 25%;
  }
  .m-o-4 {
    margin-left: 33.33333%;
  }
  .m-o-5 {
    margin-left: 41.66667%;
  }
  .m-o-6 {
    margin-left: 50%;
  }
  .m-o-7 {
    margin-left: 58.33333%;
  }
  .m-o-8 {
    margin-left: 66.66667%;
  }
  .m-o-9 {
    margin-left: 75%;
  }
  .m-o-10 {
    margin-left: 83.33333%;
  }
  .m-o-11 {
    margin-left: 91.66667%;
  }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .l-0 {
    display: none;
  }
  /* l-1-5 là 8 cái trên row */
  .l-1,
  .l-1-5,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }
  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-1-5 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .l-o-1 {
    margin-left: 8.33333%;
  }
  .l-o-2 {
    margin-left: 16.66667%;
  }
  .l-o-3 {
    margin-left: 25%;
  }
  .l-o-4 {
    margin-left: 33.33333%;
  }
  .l-o-5 {
    margin-left: 41.66667%;
  }
  .l-o-6 {
    margin-left: 50%;
  }
  .l-o-7 {
    margin-left: 58.33333%;
  }
  .l-o-8 {
    margin-left: 66.66667%;
  }
  .l-o-9 {
    margin-left: 75%;
  }
  .l-o-10 {
    margin-left: 83.33333%;
  }
  .l-o-11 {
    margin-left: 91.66667%;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }
  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .wide .l-0 {
    display: none;
  }
  .wide .l-1,
  .wide .l-1-5,
  .wide .l-2,
  .wide .l-2-4,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block;
  }
  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .wide .l-1-5 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .wide .l-o-1 {
    margin-left: 8.33333%;
  }
  .wide .l-o-2 {
    margin-left: 16.66667%;
  }
  .wide .l-o-3 {
    margin-left: 25%;
  }
  .wide .l-o-4 {
    margin-left: 33.33333%;
  }
  .wide .l-o-5 {
    margin-left: 41.66667%;
  }
  .wide .l-o-6 {
    margin-left: 50%;
  }
  .wide .l-o-7 {
    margin-left: 58.33333%;
  }
  .wide .l-o-8 {
    margin-left: 66.66667%;
  }
  .wide .l-o-9 {
    margin-left: 75%;
  }
  .wide .l-o-10 {
    margin-left: 83.33333%;
  }
  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}

.header {
  color: white;
  background-image: linear-gradient(to bottom right, #8940e9, #c240e9);
}

.header_top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header_top_logo {
  padding-left: 10px;
  display: none;
}

.header_top_logo a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.header_top_logo a:hover {
  opacity: 0.6;
  position: relative;
}

.header_top_logo a:hover::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  margin-top: 10px;
  border: 1px solid white;
  transition: width 5s;
  animation-name: centertoside;
  animation-duration: 1s;
}

@keyframes centertoside {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.header_top_logo a i {
  margin-right: 10px;
  font-size: 30px;
}

@media screen and (min-width: 960px) {
  .header_top_logo {
    display: block;
  }
}

.header_top_search {
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 9999px;
}

.header_top_search-input {
  padding: 8px 0 8px 16px;
  width: 200px;
  font-size: 16px;
}

@media screen and (min-width: 576px) {
  .header_top_search-input {
    width: 360px;
  }
}

.header_top_search-btn {
  position: absolute;
  right: 0;
  line-height: 34px;
  padding: 0 8px;
  font-weight: 500;
  cursor: pointer;
  background-color: #a7acb4;
  color: #ffffff;
  font-weight: 500;
}

.header_top_search-btn:hover {
  background-color: rgba(167, 172, 180, 0.6);
  color: #282f3a;
}

.header_top_auth {
  display: flex;
}

.header_top_auth-link {
  color: #ffffff;
  text-decoration: none;
}

.header_top_auth-link:hover {
  opacity: 0.6;
}

.header_top_auth span {
  margin: 0 8px;
  display: none;
}

@media screen and (min-width: 960px) {
  .header_top_auth span {
    display: block;
  }
}

.header_bottom {
  display: none;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

@media screen and (min-width: 960px) {
  .header_bottom {
    display: flex;
  }
}

.header_bottom .category {
  display: flex;
}

.header_bottom .category_item {
  display: block;
  margin-left: 30px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.header_bottom .category_item:first-child {
  margin-left: 0;
}

.header_bottom .category_item:hover {
  opacity: 0.6;
  position: relative;
}

.header_bottom .category_item:hover::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  margin-top: 10px;
  border: 1px solid white;
  transition: width 5s;
  animation-name: centertoside;
  animation-duration: 1s;
}

@keyframes centertoside {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.header_top_user {
  align-items: flex-end;
  position: relative;
  padding-right: 10px;
}

.header_top_user .header_user-img {
  width: 30px;
  aspect-ratio: 1/1;
}

.header_top_user .header_user-img img {
  border-radius: 50%;
}

@media screen and (min-width: 960px) {
  .header_top_user .header_user-img img {
    margin-right: 10px;
  }
}

.header_top_user:hover {
  cursor: pointer;
}

.header_top_user:hover .header_top_user_subnav {
  display: block;
}

.header_top_user_subnav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(30px);
  z-index: 10;
  padding: 10px 0;
  background-color: black;
  border-radius: 10px;
}

.header_top_user_subnav .nav_item {
  padding: 8px;
  width: 160px;
}

.header_top_user_subnav .nav_item a {
  text-decoration: none;
  color: #ffffff;
}

.header_top_user_subnav .nav_item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header_mobile {
  position: relative;
}

.header_mobile .header_nav {
  padding-left: 10px;
}

.header_mobile .header_nav i {
  font-size: 30px;
}

.header_mobile .header_nav_list {
  position: absolute;
  list-style-type: none;
  z-index: 10;
}

.header_mobile .header_nav_list a {
  display: block;
  width: 100vw;
  background-color: rgba(31, 30, 30, 0.9);
  color: #ffffff;
  font-size: 18px;
  padding: 16px;
  text-decoration: none;
}

@media screen and (min-width: 960px) {
  .header_mobile {
    display: none;
  }
}

.footer {
  color: white;
  background-image: linear-gradient(to bottom right, #8940e9, #c240e9);
  margin: 0 auto;
  padding-top: 20px;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0 10px;
}

@media screen and (min-width: 960px) {
  .footer .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer_logo {
  display: none;
}

@media screen and (min-width: 960px) {
  .footer_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.footer_logo a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.footer_logo i {
  display: block;
  font-size: 50px;
  margin-bottom: 10px;
}

.footer_category {
  grid-column-start: span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_category h4 {
  padding-bottom: 10px;
}

.footer_category-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer_category-item {
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin: 10px 0;
}

.footer_category-item:hover {
  text-decoration: underline;
}

.footer_assitance {
  grid-column-start: span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_assitance h4 {
  padding-bottom: 10px;
}

.footer_assitance-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer_assitance-item {
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin: 10px 0;
}

.footer_assitance-item:hover {
  text-decoration: underline;
}

.footer_infor {
  grid-column-start: span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_infor h4 {
  padding-bottom: 10px;
}

.footer_infor-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer_infor-item {
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin: 10px 0;
}

.footer_infor-item:hover {
  text-decoration: underline;
}

.login {
  background-color: gray;
  text-align: center;
  background-color: #743ad5;
}

.login_title {
  color: #ffffff;
  margin-bottom: 10px;
}

.login_input {
  margin: 4px 0;
  padding: 10px;
  outline: none;
  border: 4px solid white;
  border-width: 4px;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 10px;
}

.login_input:focus {
  border-color: greenyellow;
}

.login_form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.login .error {
  font-size: 16px;
  color: red;
}

.login_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login_wrapper .btn_login {
  color: white;
  background-image: linear-gradient(to bottom right, #8940e9, #c240e9);
}

.login_wrapper .btn_cancel {
  text-decoration: none;
  color: white;
}

.login_btn {
  margin-top: 10px;
  padding: 8px 16px;
  font-weight: 600;
  background: none;
  border-radius: 10px;
  border: 4px solid #b3b1b1;
}

.login_desc {
  margin: 20px 0;
  color: white;
}

.login_desc a {
  color: black;
}

.auth {
  width: 100%;
  height: 100%;
  background-image: url("https://wallpaperaccess.com/full/1140269.jpg");
  background-repeat: no-repeat;
  object-fit: fill;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.auth_wrapper {
  border: 4px solid white;
  border-radius: 10px;
  padding: 10px;
  background-color: #743ad5;
}

.main {
  color: black;
  background-color: #a7a7a7;
}

.slider {
  padding: 40px 0;
}

.slider .slick-slider .slick-list {
  margin-left: 0;
  margin-right: 0;
}

.slider .slick-slider .slick-list .slick-slide {
  padding-left: 8px;
  padding-right: 8px;
}

@media screen and (min-width: 960px) {
  .slider .slick-slider .slick-list {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .slider .slick-slider .slick-list {
    margin-left: -8px;
    margin-right: -8px;
  }
}

.slider .film_wrapper {
  position: relative;
}

.slider .film_wrapper a {
  text-decoration: none;
  color: white;
}

.slider .film_wrapper a .film_img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.slider .film_wrapper p {
  background-color: rgba(48, 47, 47, 0.6);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 20px 10px;
}

.slider .slick-prev {
  left: 4px;
  z-index: 1;
}

.slider .slick-prev::before {
  font-size: 60px;
}

.slider .slick-next {
  right: 44px;
  z-index: 1;
}

.slider .slick-next:before {
  font-size: 60px;
}

.block {
  display: block;
}

.block-title {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin-bottom: 20px;
}

.block-title h2 {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #8f2cff, #ff00ff);
  font-size: 20px;
}

@media screen and (min-width: 960px) {
  .block-title h2 {
    font-size: 24px;
  }
}

.block-title a {
  text-decoration: none;
  color: black;
  padding: 8px 8px;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 12px;
}

.block-title a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 960px) {
  .block-title a {
    font-size: 16px;
  }
}

.block .list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  list-style-type: none;
  position: relative;
  padding: 0 10px 20px;
}

@media screen and (min-width: 576px) {
  .block .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 960px) {
  .block .list {
    grid-template-columns: repeat(6, 1fr);
  }
}

.block .item {
  position: relative;
}

.block .item a {
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.block .item a img {
  width: 100%;
  object-fit: fill;
  height: 190px;
}

.block .item a img:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.5s;
}

.block .item span {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  border-radius: 4px;
  background-image: linear-gradient(to right, #8f2cff, #ff00ff);
  color: #ffffff;
  font-size: 12px;
}

.block .item span::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  background-image: linear-gradient(to right, #8f2cff, #ff00ff);
  border-top: 10px solid #cb3be9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120%);
}

.block .item p {
  position: absolute;
  width: 100%;
  background-color: rgba(20, 17, 17, 0.8);
  bottom: 0;
  padding: 10px 0 10px 20px;
  color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.block .item:first-child {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.block .item:first-child img {
  height: 390px;
}

.listfilm {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #a7a7a7;
}

.listfilm .breadcrumb {
  padding: 10px 0;
  list-style: none;
}

.listfilm .breadcrumb li {
  display: inline;
  font-size: 18px;
}

.listfilm .breadcrumb li a {
  text-decoration: none;
}

.listfilm .breadcrumb li a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.listfilm .breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.listfilm .heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.listfilm .heading_title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #8940e9, #c240e9);
}

@media screen and (min-width: 960px) {
  .listfilm .heading {
    flex-direction: row;
  }
}

.listfilm .form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listfilm .form_item {
  margin-right: 10px;
}

.listfilm .form_item:last-child {
  margin-right: 0;
}

.listfilm .form_select {
  padding: 8px 8px;
  border-radius: 4px;
  font-weight: 600;
  width: 100px;
}

@media screen and (min-width: 576px) {
  .listfilm .form_select {
    width: inherit;
  }
}

.listfilm .form_submit {
  color: black;
  background-color: #cccccc;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 16px;
  font-weight: 700;
}

.listfilm .form_submit:hover {
  color: #ffffff;
  background-color: rgba(204, 204, 204, 0.5);
}

.listfilm_title {
  color: #ffffff;
  padding: 20px;
  font-size: 14px;
  line-height: 20px;
  background-color: #b4b3b6;
  border-radius: 4px;
}

.listfilm_title span {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #8940e9, #c240e9);
}

.listfilm_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px 10px;
}

@media screen and (min-width: 576px) {
  .listfilm_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 960px) {
  .listfilm_list {
    grid-template-columns: repeat(6, 1fr);
  }
}

.listfilm_item {
  position: relative;
}

.listfilm_item span {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  border-radius: 4px;
  background-image: linear-gradient(to right, #8f2cff, #ff00ff);
  color: #ffffff;
  font-size: 12px;
}

.listfilm_item span::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  background-image: linear-gradient(to right, #8f2cff, #ff00ff);
  border-top: 10px solid #cb3be9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120%);
}

.listfilm_item a {
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.listfilm_item a img {
  width: 100%;
  object-fit: fill;
  height: 190px;
}

.listfilm_item a img:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.5s;
}

.listfilm_item p {
  position: absolute;
  width: 100%;
  background-color: rgba(20, 17, 17, 0.8);
  bottom: 0;
  padding: 10px 0 10px 20px;
  color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_wrapper {
  display: flex;
}

.pagination_wrapper button {
  font-weight: 600;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
}

.pagination_wrapper button:hover:not(active) {
  background-color: #dddddd;
}

.pagination_wrapper .page {
  padding: 8px 16px;
  border-radius: 4px;
  margin: 0 8px;
  color: #ffffff;
  background-image: linear-gradient(to right, #8940e9, #c240e9);
}

.film {
  padding: 20px 0;
  background-color: #a7a7a7;
  color: #ffffff;
}

.film_video iframe {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 16/9;
}

.film_video .list_video {
  margin-top: 20px;
}

.film_video .list_video h3 {
  width: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #8940e9, #c240e9);
}

.film_video .list_video ul {
  list-style-type: none;
  display: flex;
  margin-top: 10px;
}

.film_video .list_video ul .item_video {
  padding: 6px;
  background-color: #696b6d;
  margin-right: 8px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.film_video .list_video ul .item_video:hover {
  background-image: linear-gradient(to bottom right, #8940e9, #c240e9);
}

.film_info {
  margin-top: 13px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #969a9d;
}

.film_info_detail {
  padding: 20px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 30px;
  row-gap: 10px;
  list-style-type: none;
  padding-left: 0;
  border-bottom: 1px solid white;
}

@media screen and (min-width: 960px) {
  .film_info_detail {
    grid-template-columns: repeat(3, 1fr);
  }
}

.film_info_detail li {
  display: flex;
}

.film_info_detail li label {
  display: block;
  max-width: inherit;
  white-space: nowrap;
  font-weight: 600;
  margin-right: 10px;
}

.film_info_detail li div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.film_info_detail li div span:hover {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #8940e9, #c240e9);
  cursor: default;
}

.film_info_detail li div span {
  color: #29d7cf;
}

.film_info_detail li div span::after {
  content: ",";
  margin-right: 6px;
}

.film_info_detail li div span:last-child::after {
  margin-right: 0;
  content: "";
}

.film_name {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 960px) {
  .film_name {
    flex-direction: row;
    align-items: flex-end;
  }
}

.film_name img {
  display: block;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

@media screen and (min-width: 576px) {
  .film_name img {
    aspect-ratio: 1/1;
    width: 200px;
    margin-right: 20px;
  }
}

.film_name div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.film_name div h1 {
  margin-bottom: 10px;
  font-size: 22px;
}

@media screen and (min-width: 960px) {
  .film_name div h1 {
    font-size: 24px;
  }
}

.film_name div button {
  background-color: #ca1dca;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  margin: 0;
}

.film_name div button:hover {
  opacity: 0.6;
}

.film_desc {
  padding: 10px 0;
  border-bottom: 1px solid white;
}

.film_desc h2 {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #8940e9, #c240e9);
  padding-bottom: 20px;
}

.film_desc p span {
  color: #f03030;
  font-size: 20px;
  font-weight: 600;
}

.film_form .form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 10px 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
}

.film_form .form_wrapper input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.film_form .form_wrapper input:focus {
  border-color: greenyellow;
}

.film_form .form_wrapper button {
  margin-top: 10px;
  width: 100px;
  background-color: #cccccc;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  padding: 8px 8px;
}

.film_form .form_wrapper button:hover {
  opacity: 0.6;
}

.film_chat {
  margin: 20px 0;
  background-color: #969a9d;
  padding: 10px;
  border-radius: 10px;
}

.film_chat h1 {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #8940e9, #c240e9);
  font-size: 20px;
}

.film_chat .chat_list {
  padding: 10px;
  list-style: none;
}

.film_chat .chat_list li {
  display: flex;
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  border-bottom: 1px solid black;
}

.film_chat .chat_list li .user {
  margin-right: 20px;
  overflow: hidden;
}

.film_chat .chat_list li .user img {
  padding: 4px;
  background-color: red;
  border-radius: 30px;
  width: 60px;
  aspect-ratio: 1/1;
}

.film_chat .chat_list li .content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.film_chat .chat_list li .content h4 {
  color: #29d7cf;
}

.film_chat .chat_list li .content p {
  font-size: 14px;
}

.film_chat .chat_list li:first-child {
  margin-top: 0;
}

.actVideo {
  background-image: linear-gradient(to bottom right, #8940e9, #c240e9);
}

.notfound img {
  width: 100vw;
  height: 100vh;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: white;
  padding: 20px 0;
}

@media screen and (min-width: 960px) {
  .dashboard {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

.dashboard_sidebar {
  grid-column-start: span 1;
  margin-bottom: 20px;
  padding: 0 10px;
}

.dashboard_sidebar .sidebar_wrapper {
  border-radius: 20px;
  background-image: linear-gradient(to bottom right, #8940e9, #c240e9);
  padding: 20px 0;
}

.dashboard_sidebar .sidebar_list {
  padding-left: 0;
  list-style-type: none;
}

.dashboard_sidebar .sidebar_item {
  width: 100%;
  padding-left: 20px;
}

.dashboard_sidebar .sidebar_item a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 0;
}

.dashboard_sidebar .sidebar_item:hover {
  background-color: rgba(216, 137, 217, 0.729);
}

.dashboard_sidebar .sidebar_item:last-child {
  margin-bottom: 0px;
}

.dashboard_main {
  grid-column-start: span 3;
}

.dashboard_main .main_wrapper .form_search {
  display: flex;
  position: relative;
  border-radius: 8px;
  border: 1px solid #868181;
  margin: 0 10px 10px;
  overflow: hidden;
}

@media screen and (min-width: 960px) {
  .dashboard_main .main_wrapper .form_search {
    margin: 0 0 10px;
  }
}

.dashboard_main .main_wrapper .form_search input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}

.dashboard_main .main_wrapper .form_search button {
  position: absolute;
  right: 0;
  line-height: 38px;
  padding: 0 8px;
  background-color: #cccccc;
  font-weight: 500;
}

.dashboard_main .main_wrapper .btn_addFilm {
  margin: 20px 0 10px 10px;
  padding: 10px;
  width: 120px;
  text-align: center;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #8940e9, #c240e9);
}

@media screen and (min-width: 960px) {
  .dashboard_main .main_wrapper .btn_addFilm {
    margin-left: 0;
  }
}

.dashboard_main .main_wrapper .form_create {
  margin: 20px 0;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(42, 47, 51, 0.2) 4px 8px 24px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.dashboard_main .main_wrapper .form_create .item_wrapper {
  grid-column-start: span 1;
  display: flex;
  flex-direction: column;
}

.dashboard_main .main_wrapper .form_create .item_wrapper .form_item {
  border: 1px solid #868181;
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
}

.dashboard_main .main_wrapper .form_create .item_wrapper .form_item:focus {
  border-color: greenyellow;
}

.dashboard_main .main_wrapper .form_create .item_wrapper .form_item input {
  width: 100%;
}

.dashboard_main .main_wrapper .form_create .item_wrapper .delete_item {
  display: block;
  margin-top: 10px;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-weight: 500;
  margin: 10px auto 0;
}

.dashboard_main .main_wrapper .form_create .item_wrapper .delete_item:hover {
  background-color: rgba(255, 0, 0, 0.6);
}

.dashboard_main .main_wrapper .form_create .item_wrapper .add_item {
  padding: 8px 0;
  border-radius: 8px;
  background-color: #038503;
  color: white;
  font-weight: 500;
}

.dashboard_main .main_wrapper .form_create .item_wrapper .add_item:hover {
  background-color: rgba(7, 121, 7, 0.842);
}

.dashboard_main .main_wrapper .form_create .item_wrapper .episode {
  padding: 10px;
  border: 1px solid black;
  border-radius: 16px;
  overflow: hidden;
}

.dashboard_main .main_wrapper .form_create .item_wrapper:first-child {
  grid-column-start: span 2 !important;
}

.dashboard_main .main_wrapper .form_create .form_textarea {
  grid-column-start: span 2;
  border: 1px solid #868181;
  border-radius: 8px;
  overflow: hidden;
}

.dashboard_main .main_wrapper .form_create .form_textarea:focus {
  border-color: greenyellow;
}

.dashboard_main .main_wrapper .form_create .form_textarea textarea {
  padding: 10px;
  width: 100%;
  height: 200px;
}

.dashboard_main .main_wrapper .form_create_btn {
  display: flex;
  grid-column-start: span 2;
  justify-content: center;
  align-items: center;
}

.dashboard_main .main_wrapper .form_create_btn button {
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  border-radius: 8px;
  width: 120px;
  color: white;
  background-image: linear-gradient(to bottom right, #8940e9, #c240e9);
}

.dashboard_main .main_wrapper .form_create_btn button:hover {
  background-color: #ccc;
}

.dashboard_main .main_wrapper .form_create_btn button:last-child {
  margin-left: 10px;
  background-image: none;
  background-color: red;
  color: white;
}

.dashboard_main .main_wrapper .title_list {
  margin: 0 0 10px 10px;
  color: black;
  font-size: 24px;
}

@media screen and (min-width: 960px) {
  .dashboard_main .main_wrapper .title_list {
    margin-left: 0;
  }
}

.dashboard_main .main_wrapper .main_list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 10px 0 10px;
  list-style-type: none;
}

@media screen and (min-width: 576px) {
  .dashboard_main .main_wrapper .main_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 960px) {
  .dashboard_main .main_wrapper .main_list {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0;
  }
}

.dashboard_main .main_wrapper .main_list .main_item {
  border-radius: 10px;
  overflow: hidden;
}

.dashboard_main .main_wrapper .main_list .main_item .item_link {
  position: relative;
}

.dashboard_main .main_wrapper .main_list .main_item .item_link .item_img {
  overflow: hidden;
  position: relative;
}

.dashboard_main .main_wrapper .main_list .main_item .item_link .item_img img {
  aspect-ratio: 1/1;
  width: 100%;
}

.dashboard_main .main_wrapper .main_list .main_item .item_link .item_name {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  background-color: rgba(63, 58, 58, 0.6);
}

.dashboard_main .main_wrapper .main_list .main_item .item_link .item_name p {
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 10px;
}

.dashboard_main .main_wrapper .main_list .main_item .item_btn {
  display: flex;
  justify-content: space-between;
}

.dashboard_main .main_wrapper .main_list .main_item .item_btn button {
  width: 50%;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.dashboard_main .main_wrapper .main_list .main_item .item_btn button:hover {
  opacity: 0.6;
}

.dashboard_main .main_wrapper .main_list .main_item .item_btn .btn_delete {
  background-color: #ec2e14;
}

.dashboard_main .main_wrapper .main_list .main_item .item_btn .btn_update {
  background-color: #66ca4d;
}

.dashboard_pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.dashboard_pagination button {
  padding: 8px 16px;
  background-color: #929090dc;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.dashboard_pagination button:hover {
  background-color: rgba(19, 18, 18, 0.6);
}

.dashboard_pagination .dashboard_page {
  margin: 0 10px;
  cursor: default;
  padding: 8px 16px;
  color: #ffffff;
  border-radius: 4px;
  background-image: linear-gradient(to bottom right, #8940e9, #c240e9);
}

.dashboard_pagination span:nth-child(2) {
  margin: 0 10px;
  cursor: default;
}

.activeLink {
  background-color: rgba(216, 137, 217, 0.729);
}

.loading_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading_wrapper .loading {
  color: gray;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading_wrapper .loading div {
  transform-origin: 40px 40px;
  animation: spin-loading 1.2s linear infinite;
}

.loading_wrapper .loading div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}

.loading_wrapper .loading div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.loading_wrapper .loading div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.loading_wrapper .loading div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.loading_wrapper .loading div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.loading_wrapper .loading div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.loading_wrapper .loading div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.loading_wrapper .loading div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.loading_wrapper .loading iv:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.loading_wrapper .loading div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.loading_wrapper .loading div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.loading_wrapper .loading div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.loading_wrapper .loading div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes spin-loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.protectroute {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.protectroute h1 {
  color: black;
}

.dashboard_user {
  padding: 20px 0;
}

.dashboard_user h1 {
  margin-bottom: 10px;
  color: black;
  font-size: 24px;
  margin-left: 10px;
}

@media screen and (min-width: 960px) {
  .dashboard_user h1 {
    margin-left: 0;
  }
}

.dashboard_user_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 20px;
  margin: 0 10px;
  gap: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0 0 8px 8px;
}

@media screen and (min-width: 960px) {
  .dashboard_user_form {
    margin: 0;
    grid-template-columns: repeat(4, 1fr);
  }
}

.dashboard_user_form .field_wrapper {
  display: flex;
  flex-direction: column;
}

.dashboard_user_form .field_wrapper input {
  border: 1px solid gray;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
}

.dashboard_user_form .field_wrapper select {
  border: 1px solid gray;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  width: 100%;
  /* Firefox */
  /* Safari and Chrome */
  appearance: none;
}

@media screen and (min-width: 960px) {
  .dashboard_user_form .field_wrapper select {
    grid-template-columns: span 1;
  }
}

.dashboard_user_form .field_wrapper .field_message {
  margin-top: 16px;
  font-size: 16px;
  color: red;
  padding-left: 20px;
}

.dashboard_user_form div:first-child {
  grid-column-start: span 2;
}

@media screen and (min-width: 960px) {
  .dashboard_user_form div:first-child {
    grid-column-start: span 3;
  }
}

.dashboard_user_form button {
  border: 1px solid gray;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 9999px;
}

.dashboard_user_form button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=app.css.map */